
:root{
    --main-color:green;
    --dark-color:#222;;
    --text-color:#fff;
}
html{
    font-size: 16px;
}
body{
    font-size: 1rem;
}
*{
    margin: 0;
    padding: 0;
    
}
img{
    max-width: 100%;
}
p{
    font-size: 1.125rem!important;
}
.banner-part{
    height: 100%;
}
.banner-content{
height: 100%;
}
.item-part{
    padding-top: 100px;
    padding-bottom: 100px;
   
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
}
.items-1{
    background-color: goldenrod;
}
.items-2{
    background-color:var(--main-color);
}
.items-3{
    background-color: var(--dark-color);
}
.shoe-part{
    padding-top: 100px;
    padding-bottom: 100px;
}
.card{
    width: 25em!important;
    padding: 20px;
}
@media screen and (max-width:380px){
    .items{
        margin-bottom: 30px;
    }
}